<%= form_for  ([@product_type, @product]), :html=>{:id=>'form_new_edit_product'} do |f| %>

<fieldset>
  <div>
    <%= f.label :product_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_name, :autofocus => true, :class => ' form-control'%>
    </div>
  </div>
  <div>
    <%= f.label :product_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :product_description, :class => ' form-control', :size=>"100x10"%>
    </div>
  </div>
  <div>
    <%= f.label :product_cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_cost, :class => ' form-control'%>
    </div>
  </div>
  <div class ="form-actions" style="margin-top: 3%" >
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </div>
</fieldset>
<% end %>
<%= link_to 'Back', product_type_products_path(@product_type), :class => 'btn_back btn btn-mini'%>